.dashboardContainer {
    padding: 1rem;
    background: #f9f9f9;
    font-family: Arial, sans-serif;
}

.titleBar {
    margin-bottom: 2rem;
}

.pageTitle {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.cards {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.card {
    background: #fff;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    flex: 1;
    text-align: center;
}

.card2 {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    flex: 1;
    text-align: center;
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(3, 1fr);

}

.counter {
    font-size: 1.8rem;
    font-weight: bold;
    color: #175B42;
}

.counter1 {
    font-size: 1rem;
    font-weight: bold;
    color: #175B42;
}

.section {
    background: #fff;
    border-radius: 12px;
    margin-bottom: 2rem;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
}

.sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    >h3{
      margin-left: 1rem;
    }
}

.sectionHeader1 {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 1rem;
}

.primaryBtn {
    background: #175B42;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.tableWrapper {
    width: 100%;
    overflow-x: auto;
}

@media (max-width: 740px) {

    .tableWrapper,
    .usersTableWrapper,
    .cards {
        overflow-x: scroll;
    }

    .table {
        min-width: 900px;
    }
}

@media (max-width: 540px) {
    .sectionHeader {
        flex-direction: column;

        >div {
            >input {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
}

@media (max-width: 420px) {
    .tableheader {
        flex-direction: column;
    }

    .sectionHeader1 {
        flex-direction: column;

        >input {
            margin-bottom: 10px;
            width: 100%;
        }
    }
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 0.45rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


.centerText {
    text-align: center;
    padding: 1rem;
    color: #888;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
    width: 400px;
    max-width: 95%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-height: 85vh;
    overflow-y: scroll;
}

.modal::-webkit-scrollbar {
    display: none;
}

.modal h2 {
    margin-bottom: 1rem;
}

.modal form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal select {
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 100%;
}

.modalActions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.modalActions button {
    height: 30px;
    width: 60px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.modalActions button:first-child {
    background: #ccc;
}

.modalActions button:last-child {
    background: #175B42;
    color: #fff;
}


.usersGrid {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media (min-width: 768px) {
    .usersGrid {
        flex-direction: row;
    }
}

.rolesCard {
    flex: 1;
    background: #fdfdfd;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
}

.usersTableWrapper {
    flex: 2;
}

.usersTableWrapper1 {
    flex: 2;
}

.tableheader {
    display: flex;
    justify-content: space-between;
}

.boxTitle {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333;
}

.tableResponsive {
    overflow-x: auto;
}

.rolesTable {
    width: 100%;
    border-collapse: collapse;
}

.rolesTable th,
.rolesTable td {
    padding: 0.75rem;
    border-bottom: 1px solid #eee;
    text-align: left;
}

.label {
    display: inline-block;
    padding: 0.30rem 0.5rem;
    border-radius: 20px;
    font-size: 0.875rem;
    font-weight: 500;
    color: #fff;
}

.info {
    background-color: #17a2b8;
}

.success {
    background-color: #28a745;
}

.warning {
    background-color: #ffc107;
    color: #333;
}

.danger {
    background-color: #dc3545;
}

.primary {
    background-color: #007bff;
}

.searchInput {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-right: 10px;
    font-size: 14px;
    max-width: 200px;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    gap: 6px;
}

.pagination button {
    padding: 4px 8px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    cursor: pointer;
}

.activePage {
    font-weight: bold;
    background-color: #007bff;
    color: white;
}

.editButton {
    background: transparent;
    border: none;
    color: green;

    >img {
        width: 20px;
        color: green;
        cursor: pointer;
    }
}

.deleteButton {
    background: transparent;
    border: none;
    color: green;

    >img {
        width: 18px;
        color: green;
        cursor: pointer;
        margin-left: 5px;
    }
}

.qrModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.3s ease-in-out;
}

.qrModal {
    background: #ffffff;
    padding: 1.5rem;
    border-radius: 16px;
    width: 90%;
    max-width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    animation: scaleIn 0.3s ease-in-out;

    >h3 {
        margin: 0;
        font-size: 30px;
    }
}

.qrModalImg {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 8px;
    object-fit: contain;
}

.closeBtn {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: #ff4d4f;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    transition: background 0.3s;
}

.closeBtn:hover {
    background-color: #d9363e;
}

.qrDownloadButton {
    margin-top: 0.5rem;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.qrDownloadButton:hover {
    background-color: #45a049;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}


.completeBtn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 16px;
}

.pendingBtn {
    background-color: #ff2b07;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 16px;
}

.progressBtn {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 16px;
}

.contactnumber::-webkit-outer-spin-button,
.contactnumber::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.contactnumber {
    -moz-appearance: textfield;
}

.formGroup {
    margin-bottom: 1rem;
    position: relative;
}

.errorInput {
    border: 1px solid red;
}

.errorText {
    color: red;
    font-size: 0.8rem;
    position: absolute;
    bottom: -18px;
    left: 0;
}

.inputtextclasses {
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 95%;
}

.formActions {
    display: flex;
    justify-content: end;
    align-items: center;
}

.simpleUserWrapper {
  padding: 1rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.simpleusersearchInput {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
  max-width: 200px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.simpleUserTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.simpleUserTable th,
.simpleUserTable td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.simpleuserpagination {
  display: flex;
  justify-content: end;
  gap: 1rem;
  >button{
   cursor: pointer;
  }
}

.simpleuser button {
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #175b42;
  color: white;
  cursor: pointer;
}

.simpleuser button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.simpleusertablecontainer{
  overflow-x: scroll;
}
.simpleusertablecontainer::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Opera */
}