.viewmaincontainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}

.viewpagecontaianer {
  background: #FEF7F0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* .leftviewdiv {
  width: 100%;
  height: auto;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 10px;

} */

.imagecontainerview {
  width: 100%;
  height: 64%;
  flex-shrink: 0;

  /* border: 1px solid brown; */
  >img {
    width: 100%;
    height: 100%;
    border-radius: 20px;

  }
}

.parentdesciptionofboth {
  width: 100%;
  padding-block: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.description-container {
  border-radius: 10px;
  cursor: pointer;
}

.descriptiop-containeriew {
  width: 45%;
  padding-bottom: 4rem;
  border: 1px solid #235f48;
  border-radius: 10px;
  /* margin-left: 20px; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  text-align: center;
}

.imagedescription {
  /* margin-left: 1.5rem; */
  width: 90%;
  height: auto;
  text-align: center;
  /* margin-left: 10px; */
  /* border: 1px solid red; */
  border-radius: 5px;
}

.rightviewdiv {
  /* border: 1px solid red; */
  width: 45%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Lexend;
  font-weight: 300;
}

.rightviewfirstdiv {
  width: 100%;
  height: 100%;
  >h2{
    >img{
      width: 20px;
      margin-right: 10px;
      margin-top: 2px;
    }
  }
}

.buynowbuttoncover {
  width: 100%;
  /* border: 1px solid red; */
  text-align: center;
  margin-top: 5rem;
}

.priceproduct {
  font-weight: 300;
}

.quantitytext {
  width: 30%;
  height: 45px;
  border-radius: 10px;
  border: none;
  border: 1px solid #235f48;
  margin-bottom: 10px;
  padding: 0px 13PX;
  font-size: 15px;
  margin: 10px;
}

.buynowbutton {
  margin-top: 20px;
  height: 56px;
  width: 90%;
  border-radius: 25px;
  border: none;
  font-size: 25px;
  font-family: Lexend;
  cursor: pointer;
  background: #235f48;
  color: white;
}

.about-vegitable {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #235f48;
  font-family: 'Lexend', sans-serif;
  font-size: 20px;
  border-radius: 10px;
}

.iconvegtble {
  width: 50%;
  text-align: start;
  display: flex;
  justify-content: start;
  align-items: center;

  >img {
    width: 20px;
    margin-left: 10px;
  }
}

.descriptionimage {
  margin-left: 20px;
  font-size: 22px;
}

.righticon {
  width: 50%;
  text-align: end;

  >img {
    width: 20px;
    margin-right: 20px;
  }
}

.about-vegitabledescription {
  display: none;
  width: 100%;
  height: 23vh;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 2px;
}

.descriptionmanagaersection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.tesxtjustify {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-family: 'Lexend', sans-serif;
  margin-top: 0;

  >p {
    display: flex;
    justify-content: space-around;
    word-wrap: break-word;
    align-items: center;
    width: 100%;
    font-size: 2px;
    margin-top: 9px;

    >span {
      width: 45%;
      /* border: 1px solid red; */
      text-align: start;
      font-size: 15px;
    }
  }
}

.rightsidedescriptionimage {
  width: 45%;
  border: 1px solid #235f48;
  height: 27rem;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
}

@media screen and (max-width:740px) {
  .viewmaincontainer {
    display: flex;
    flex-direction: column;

    .leftviewdiv {
      width: 100%;
    }

    .rightviewdiv {
      width: 80%;
      margin-top: 5rem;

      .rightviewfirstdiv {
        text-align: center;
      }
    }
  }

  .carousel-wrapper {
    width: 80% !important;
    position: relative;
    height: auto;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }

  .rightsidedescriptionimage {
    margin-top: 2rem;
    width: 80%;
    border: 1px solid #235f48;
    height: 380px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
  }

  .parentdesciptionofboth {
    display: flex;
    flex-direction: column;

    .descriptiop-containeriew {
      width: 80%;
    }
  }
}



.carousel-wrapper {
  width: 45%;
  position: relative;
  height: 600px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.leftviewdiv {
  display: flex;
  overflow-x: auto;
  height: 100%;
  width: 100%;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  gap: 10px;
}

.leftviewdiv::-webkit-scrollbar {
  display: none;
}

.imagecontainerview {
  min-width: 100%;
  height: 100%;
  scroll-snap-align: start;
  flex-shrink: 0;
  border-radius: 20px;
}

.imagecontainerview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.dot-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding-block: 10px
}

.dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #333;
}

@media screen and (max-width:1275px) {
  .rightsidedescriptionimage {

    table td,
    table th {
      padding: 10px 10px;
      text-align: left;
    }
  }
}


.quantitypricecover {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewtablehistory {

  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;

  th {
    background-color: #f0f0f0;
    font-weight: bold;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
}