.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-bottom: 2rem;
  word-break: break-word;
}

.timeline {
  position: relative;
  padding: 2rem 0;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 4px;
  background: #ccc;
  transform: translateX(-50%);
  z-index: 0;
}

.timelineItem {
  position: relative;
  width: 50%;
  padding: 2rem 2rem;
  box-sizing: border-box;
}

.left {
  left: 0;
  text-align: start;
}

.right {
  left: 50%;
  text-align: left;
}

.circle {
  width: 30px;
  height: 30px;
  background: #4caf50;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  left: 100%;
}
.circle2 {
  width: 30px;
  height: 30px;
  background: #4caf50;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  left: 0;
}

.left .circle {
  transform: translate(-50%, -50%);
}

.right .circle {
  transform: translate(-50%, -50%);
}

.box {
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 40px);
}

.batchesheading {
  font-weight: 600;
  color: #222;
  margin-right: 6px;
}

.batchesdatavalue {
  font-weight: 400;
  color: #666;
}