.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.appcontainerbakground {
  background: #FEF7F0;
  overflow: hidden;
}
.custom-toast-container {
  margin-top: 10rem;
}

.Toastify__toast {
  border: 2px solid transparent;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.Toastify__toast--success {
  border-color: #4caf50;
}

.Toastify__toast--error {
  border-color: #f44336;
}

.Toastify__toast--success.Toastify__toast-theme--light {
  background: #e8f5e9;
  color: #256029;
}

.Toastify__toast--error.Toastify__toast-theme--light {
  background: #ffebee;
  color: #b71c1c;
}
